<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>Servlet.DBConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>Servlet.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WatchServlet</servlet-name>
        <servlet-class>Servlet.WatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>Servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>Servlet.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>Servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrdersServlet</servlet-name>
        <servlet-class>Servlet.MyOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrdersServlet</servlet-name>
        <servlet-class>Servlet.AdminOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>Servlet.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>Servlet.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWatchServlet</servlet-name>
        <servlet-class>Servlet.AddWatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWatchPageServle</servlet-name>
        <servlet-class>Servlet.AddWatchPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageWatchesServlet</servlet-name>
        <servlet-class>Servlet.ManageWatchesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWatchServlet</servlet-name>
        <servlet-class>Servlet.DeleteWatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWatchServlet</servlet-name>
        <servlet-class>Servlet.EditWatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>Servlet.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/DBConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WatchServlet</servlet-name>
        <url-pattern>/WatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrdersServlet</servlet-name>
        <url-pattern>/MyOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrdersServlet</servlet-name>
        <url-pattern>/AdminOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/UpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWatchServlet</servlet-name>
        <url-pattern>/AddWatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWatchPageServle</servlet-name>
        <url-pattern>/AddWatchPageServle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageWatchesServlet</servlet-name>
        <url-pattern>/ManageWatchesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWatchServlet</servlet-name>
        <url-pattern>/DeleteWatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWatchServlet</servlet-name>
        <url-pattern>/EditWatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
